.DS_Store*
logs
target
/.g8
/.idea
/.idea_modules
/.classpath
/.project
/.settings

/RUNNING_PID

/coverage
.env
.bundle
*.sc
derby.log
metastore_db
Sandbox*

project/*.ipr
project/*.iml
project/*.iws
project/out
project/*/target
project/target
project/project
project/*/bin
project/*/build
project/*.iml
project/*/*.iml
project/.idea
project/.idea/*
project/.DS_Store
project/*/.DS_Store

stash*.jar

/doc/*.swagger-codegen*

*ensime*
pc.*
